html, body, header, main, footer, section, h1, h2, p, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
h1, h2 {
    margin: 15px 0 15px 0;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
}
body {
    background-color: white;
    color: black;
    font-family: Helvetica,Arial,sans-serif;
}
header img {
    width: 100%;
}
main {
    background-color: black;
    margin: 0 auto 0 auto;
    width: 70%;
    color: #aaaaaa;
    padding: 0 10px 0 10px;
}
main p {
    padding: 3px 3px 3px 3px;
}
.text {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer {
    background-color: #bbbbbb;
    height: 50px;
    padding-right: 30px;
    padding-top: 4px;
}
footer p {
    padding: 4px 4px 2px 4px;
    font-size: 13px;
}
#footer-text {
    text-align: right;
}
#links {
    padding-bottom: 10px;
}

#links li {
    display: inline;
    padding: 0px 10px 0px 10px;
    
}
#links li:last-child {
    display: inline;
    padding-right: 0px;
}
a {
    text-decoration: none;
    color: #aaaaaa;
}
abbr {
    text-decoration: none;
}
a:hover {
    color:thistle;
    text-decoration: none;
}
iframe {
    border: none;
    margin: 0 auto 0 auto;
    display: block;
}